[Desktop Entry]
Version=1.0
Type=Application
Name=PDF Viewer
Icon=/home/jim/sources/qt/pdf-viewer/img/icon.svg
Exec="/home/jim/sources/qt/build-pdf-viewer-Desktop-Debug/pdf-viewer" %f
Comment=Tiny PDF Viewer
Categories=Office;Viewer;
Terminal=true

